html {
  font-family: Helvetica;
  font-size: 26.66667vw;
  height: 100%; }

body {
  height: 100%;
  font-size: 0.14rem; }

.container {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .container header {
    height: 0.45rem;
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.18rem;
    background: #00b38a;
    color: #fff; }
  .container main {
    flex: 1;
    position: relative;
    overflow-y: auto; }
  .container nav {
    background: #f6f6f6; }
    .container nav ul {
      display: flex;
      margin: 0;
      padding: 0; }
    .container nav li {
      flex: 1;
      line-height: 45px;
      text-align: center;
      display: inline-block;
      list-style: none;
      font-size: 16.768px;
      color: #c2cfcc; }
      .container nav li i {
        font-family: "iconfont" !important;
        font-style: normal;
        margin-right: 2px; }
    .container nav li.active {
      background: #e7f3f0;
      color: #00b380; }

@font-face {
  font-family: 'iconfont';
  src: url("../libs/iconfont.woff2") format("woff2"), url("../libs/iconfont.woff") format("woff"), url("../libs/iconfont.ttf") format("truetype"); }

#loading {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  display: none; }

.custom {
  line-height: 0.43rem;
  font-size: 0.14672rem;
  border: solid 1px #e8e8e8;
  padding: 0 0.08rem;
  display: flex;
  align-items: center; }
  .custom span {
    flex: 1;
    color: #555; }
  .custom button {
    font-size: 0.14672rem;
    background: #f5f5f5;
    border-radius: 0.15rem;
    border: none;
    height: 0.3rem;
    width: 0.8rem;
    color: #00b38a; }

.item {
  display: flex;
  align-items: center;
  padding: 0.13rem;
  border-bottom: solid 1px #e8e8e8; }
  .item img {
    width: 0.6rem; }
  .item .logo {
    width: 0.8rem; }
  .item .desc {
    flex: 1; }
    .item .desc h2 {
      font-size: 0.1672rem; }
    .item .desc p {
      font-size: 0.12576rem;
      color: #333;
      overflow: hidden;
      width: 2rem;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .item .salary {
    width: 0.6rem;
    color: #00b38a;
    font-size: 0.16rem; }

html, body, h1, h2, p, ul, li {
  margin: 0px;
  padding: 0px; }
