<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style/all.css">
</head>

<body>
    <div class="container">
        <header>
            拉勾网
        </header>
        <main id="main-container"></main>
        <nav id="index_nav">
            <ul>
                <li class="active" data-hash="position"> <i class="iconfont">&#xe69e;</i>职位 </li>
                <li data-hash="search"><i class="iconfont">&#xe602;</i>搜索</li>
                <li data-hash="profile"><i class="iconfont">&#xe606;</i>我的</li>
            </ul>
        </nav>
    </div>
    <script type="module" src="./js/all.js"></script>
    <script src="./libs/zepto.min.js"></script>
    <script src="./libs/template-web.js"></script>
</body>

</html>